<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regex Clone Project</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('regular_expression') }}">Home</a>
    </nav>

    <h1>Welcome to the regex clone</h1>

    <form action='' method="post">
        <label>Regex</label>
        <input type="text" name="in_1" placeholder="Enter the regex">
        <br><br>
        <label>String</label>
        <input type="text" name="in_2" placeholder="Enter the string">
        <br><br>
        <button>SUBMIT</button>
    </form>
</body>
</html>